<style>
  @font-face {
    font-family: 'BerlinType';
    src: url('/assets/fonts/BerlinTypeOffice_Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Tribuna';
    src: url('/assets/fonts/Trybuna_W00_Regular.ttf') format('truetype');
  }
  body { font-family: 'BerlinType', sans-serif !important; }
  .sidebar, .author__content, .author__bio, .author__name, .author__urls li { font-family: 'BerlinType', sans-serif !important; }
  h1, h2, h3, h4, nav, .greedy-nav a, .author__bio { font-family: 'Tribuna', serif !important; }
</style>
